<!doctype html>
<html lang="en" data-framework="jquery">

<head>
  <meta charset="utf-8">
  <title>Nested todos • TodoMVC</title>
  <link rel="stylesheet" href="./../public/css/index.css">
</head>

<body>
  <div id="app">
    <section id="app-view">
      <header id="header">
        <nav>
          <ol class="crumbs"></ol>
        </nav>
        <h1>
          <span class="headline">todos</span>
          <input class="edit" value="">
        </h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus>
      </header>

      <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
      </section>
      <footer id="footer"></footer>
    </section>
    <footer id="info">
      <p>🔍 Click on the todo's text to <b>zoom in</b>. ✏️ Double-click on the empty todo field to <b>edit</b>.</p>
      <p>🔽 Hover mouse on the todo field to <b>expand</b> children (if any) or <b>destroy</b> todo ❌</p>
      <p>Use <b>breadcrumbs</b> on the top of the screen to get back from zoomed todo.</p>
      <p>Part of <a href="https://watchandcode.com">Watch and Code</a> curriculum | Inspired by <a
          href="https://todomvc.com/examples/jquery/#/all">TodoMVC</a> and <a href="https://workflowy.com">Workflowy</a></p>
    </footer>
  </div>

  <script src="./../public/js/director.js"></script>
  <script src="./../public/js/app.js"></script>
</body>

</html>